.bHead{
  width: 100%;
  color: brown;
  text-align: center;

}
.div{
  display: flex;
}
form{
  display: flex;
  width: 110%;
  align-items: center;
  justify-content: center;
}
.input{
  display: flex;
  size: 50px;
}
.head{
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.img-div:hover.add{
  display: block;
  background-color: bisque;
  cursor: pointer;
}
input{
  padding-left: 50%;
    border-radius: 15px;
    height: 48px;
    width: 99%;
    position: relative;
    top: 54px;
    right: 350px;
}
.sub{
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  height: 55px;
  border-radius: 33px;
  background-color: rgb(88, 10, 245);
  position: relative;
  right: 333px;
  top: 54px;
}
#button:hover{
  background-color: red;
}

.bookmarks{
  
  /* cursor: pointer; */
  /* color: #FFFFFF; */
  /* border: none; */
  height: 40px;
  border-radius: 20px;
  background-color: rgb(178, 178, 185);
  left: 44px;
  position: relative;
  left: 640px;
  top: 35px;
}
#button1:hover{
  background-color: blue;
}
#addbook:hover{
  background-color: blue;
}
h1{
  margin: 50px;
  position: relative;
  left: 553px;
}
.img-con{
  column-count: 3;
}
.m-img{
  width: 100%;
  border-radius: 20px;
  flex: 100%;
  margin-top: 11px;
  height: 100%;
}
.bookmark:hover{
  color: blue;
  border-radius: 40px;
  background-color: red;
}
